html {
  box-sizing: border-box;
  -webkit-app-region: drag;
  background-color: rgba(255, 255, 255, .98);
  font-family: -apple-system, "Helvetica Neue", "Arial", san-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
